# Easier navigation
alias ..="cd .."
alias ...="cd ../.."

# Shortcuts
alias d="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias doc="cd ~/Documents"
alias ss="cd ~/Sites"
alias p="cd ~/Dropbox/Projects"
alias g="git"
alias h="history"
alias v="vim"
alias s="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias o="open"

# Laravel Generators
alias g:c="php artisan generate:controller"
alias g:m="php artisan generate:model"
alias g:v="php artisan generate:view"
alias g:mig="php artisan generate:migration"
alias g:t="php artisan generate:test"
alias g:r="php artisan generate:resource"
alias g:sc="php artisan generate:scaffold"
alias g:s="php artisan generate:seed"
alias g:f="php artisan generate:form"

# Laravel Artisan CLI
alias art="php artisan"

# List all files in long format, including dot files
alias l="ls -laF"

# Enable aliases to be sudo’ed
alias sudo="sudo "

# Load the iphone simulator
alias simulator="open /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; sudo npm update npm -g; sudo npm update -gf;"
# Optional: sudo gem update;

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Get week number
alias week="date +%V"

# Remove ".svn" folders from workingcopy recursive
alias rmsvn="find . -type d -name .svn -exec rm -rf {} \;"

# Create a new directory and enter it
function mkd() { mkdir -p "${@}" && cd "${@}"; }
