#!/usr/bin/env bash

# Easier navigation.
alias ..="cd .."
alias ...="cd ../.."

# Shortcuts.
alias cat="bat"
alias g="hub"
alias h="history"
alias vi="vim"

# PHP aliases.
alias art="php artisan"
alias phpunit="vendor/bin/phpunit"

# List all files in long format, including dotfiles.
alias l="ls -Glah"

# Always enable colored `grep` output.
alias grep="grep --color=auto"

# Start a PHP server from current directory.
function serve() {
  open "http://localhost:${1:-8000}/" & php -S "localhost:${1:-8000}";
}
