[alias]
	aliases = config --get-regexp alias
	ac = !git add . && git commit -m
	b = branch
	branches = branch --all
	c = clone
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat ':(exclude)*lock*'"
	f = fetch --all
	go = "!f() { git switch -c $1 2> /dev/null || git switch $1; }; f"
	l = log --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --no-merges -n 30
	m = merge
  nah = "!n() { git restore . && git clean -df; }; n"
	p = push
	pl = pull
	r = remote
	reb = "!r() { git rebase -i HEAD~$1; }; r"
	remotes = remote --verbose
	s = status --short --branch
	sl = shortlog --summary --numbered
	tags = tag --list
  wip = "!w() { git add . && git commit -m 'wip' && git push; }; w"

[apply]
	whitespace = fix

[branch]
	sort = -committerdate

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow

[color "status"]
	added = green
	branch = green
	changed = yellow
	header = white dim
	untracked = cyan

[core]
	excludesfile = ~/.gitignore
	ignoreCase = false
	trustctime = false
	untrackedCache = true
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[credential]
	helper = osxkeychain

[diff]
	algorithm = patience
	renames = copies

[github]
	user = vinkla

[init]
	defaultBranch = main

[merge]
	log = true

[pull]
	rebase = true

[push]
	default = simple
	followTags = true

[user]
	email = vincent@doubledip.se
	name = Vincent Klaiber
