# Don't commit to a public repository
.extra

# Third-party directories
node_modules
bower_components

# SASS Cache
.sass-cache

# NPM Debug Log
npm-debug.log

# Composer
composer.phar

# PHP CS Fixer
.php_cs.cache

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Editor preferences
.idea
